body {
    * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        input, button, a, img:focus {
            outline: none;
        }
    }
}